html {
    height: 100%;
    /* overflow: hidden; */

}
.parallax {
    background-image: url('../images/background.jpg');

    height: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 969px) {
    .parallax {
        background-image: url('../images/background2.jpg');
    }
}
@media screen and (max-width: 800px) {
    .parallax {
        background-image: url('../images/background2.jpg');
    }
}