html {
    height: 100%;
    /* overflow: hidden; */

}
.parallax {
    background-image: url('../images/background.jpg');

    height: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 1400px) and (max-width: 1996px) {
    .parallax {
        background-image: url('../images/background.jpg');
    }
}
@media screen and (min-width: 975px) and (max-width: 1400px) {
    .parallax {
        background-image: url('../images/background2.jpg');
    }
}
@media screen and (max-width: 975px) {
    .parallax {
        background-image: none;
        background-color: #808080;
    }
}
